@model IEnumerable<IslandFoodmart.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingOrder.ShoppingOrderID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShoppingOrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShoppingOrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShoppingOrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
