@model IEnumerable<IslandFoodmart.Models.Product>
@using IslandFoodmart.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<DatabaseUser> SignInManager
@inject UserManager<DatabaseUser> UserManager
@{
    ViewData["Title"] = "Index";

}

<html>
<head>
    <style>
        
       

        .price {
            color: grey;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

            .card button:hover {
                opacity: 0.7;
            }
            .penes{
                margin:auto;
                
            }
    </style>
    <h1 style=" display: flex; justify-content: center; align-content: center; padding-top: 20px; padding-bottom: 10px;">Products</h1>
    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.UserName == "admin@islandfoodmart.com")
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
</head>
<body>
    <div style="background-color: white; border-radius: 20px; padding: 20px;">
        <div class="container">                 
            <div class="row" style="" padding-bottom: 20px">
                @foreach (var item in Model)
                {
                    <div class="penes col-sm-6 card mb-3" style="border-radius: 20px;">
                        <img src="~/lib/@Html.DisplayFor(modelItem => item.ImagePath)" alt="@Html.DisplayFor(modelItem => item.ProductName)" style="height: auto; padding-top: 10px;">
                        <h3 class="card-text">@Html.DisplayFor(modelItem => item.ProductName)</h3>
                        @if (item.SpecialPrice >= 0.01M)
                        {
                            <p class="price" style="color: green;">Special $@Html.DisplayFor(modelItem => item.SpecialPrice)</p>
                            <p style="color: red;">Normal price: $@Html.DisplayFor(modelItem => item.ProductPrice).</p>
                        }
                        else
                        {
                            <p class="price">$@Html.DisplayFor(modelItem => item.ProductPrice)</p>
                        }
                        <p>@Html.DisplayFor(modelItem => item.ProductStock) currently in stock.</p>
                        <form asp-action="Details" asp-route-id="@item.ProductID" asp-route-view="@ViewBag.SearchURL" style="padding-bottom: 10px;">

                            @if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.UserName == "admin@islandfoodmart.com")
                            {
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                                </td>
                            }
                            else
                            {
                                if (item.ProductStock != 0)
                                {
                                    <button type="submit" value="Buy Online" class="button" style="background-color: green; color: white; border-radius: 10px;">Buy Online</button>
                                }
                            }
                        </form>
                        @if (item.ProductStock == 0)
                        {
                            <form asp-action="Details" asp-route-id="@item.ProductID" asp-route-view="@ViewBag.SearchURL" style="padding-bottom: 10px;">
                                <button type="submit" value="Out of stock" class="button" style="background-color: red; color: white; border-radius: 10px;">Out of stock.</button>
                            </form>
                        }
                    </div>
                }
            </div>
            
        </div>
    </div>
</body>
</html>




